/*This stylesheet is for resume_juliaxiong*/

/*Font for the complete website*/
*{font-family: 'Mukta Vaani', sans-serif;
}

/*header container*/
.headercontainer {
	width: 100%;
	top: 0px;
}
/*content div*/
.content{
	width: 100%;
	margin-top: 20px;
}

h2 {
	font-size: 15pt; 
	color:#5997a3;
}
h4 {
	font-size: 12pt;
	color:#131d28; /*black*/
}
h5 {
	font-size: 12pt;
	color:#4c5c6d; /*grey*/
}


/*Screen resolution greater than 400px*/
@media screen and (min-width: 400px){
	body {
		margin: 0px;
		background-color: "white"; 
		padding: 45px;
	}
	.div1 {
		float:right;
	}
	.image1 {
		width:264px; 
		height:412px; 
	}
	h1 {
		color: #cc860e; /*orange*/
		font-size: 30pt;
		margin: 0px;
		text-align: center;
	}
	h2 {
		font-size: 20pt; 
		color:#5997a3; /*teal*/
	}
	h4 {
		font-size: 13pt;
		color:#131d28; /*black*/
	}
	h5 {
		font-size: 13pt;
		color:#4c5c6d; /*grey*/
	}

	/*header div */
	.header {
		height: 65px;
		background-color: #343538; /*dark gray*/
	    border: 1px;
	    width: 100%;
	    margin: 0px auto;
	}
}

/*Screen resolution smaller than 400px*/
@media screen and (min-width: 100px) and (max-width: 400px) {
	body{
		margin: 0px;
		background-color: "white"; 
		padding: 20px;
	}
	.div1 {
		text-align: center;
		width: 100%;
		display:inline-block; /*"display:inline-block" treats div as a text so that "text-align:center may work"
		/*float:center;*/ 
		/*Note: "float:center" previously used and provided same result as display:inline-block*/
	}
	.image1 {
		width:198px; 
		height:309px; 
	}
	h1 {
		color: #cc860e; /*Orange*/
		font-size: 20pt;
		text-align: center;
	}
	h2 {
		font-size: 20pt; 
		color:#5997a3; /*teal*/
	}
	h4 {
		font-size: 15pt;
		color:#131d28; /*black*/
	}
	h5 {
		font-size: 15pt;
		color:#4c5c6d; /*grey*/
	}
	/*header div */
	.header {
		height: 45px;
		background-color:#343538; /*dark gray*/
	    border: 1px;
	    width: 100%;
	    margin: 0px auto;
	}
}



