/* Google Font */
*{font-family: 'Mukta Vaani', sans-serif;
}

/* Style of resume headers */
h3 {
    color:#cc860e; /*orange*/
    font-size: 15pt;
}

.section {
    color:#468eb5; /*blue*/
    font-size: 15pt;
}

/* Style of Name in nav-bar*/
#company_name {
    color:#cc860e; /*orange*/
    font-size: 20pt;
}

/* Style of text for product name */
.text {
	color:#cc860e; /*orange*/
	font-size: 15pt; 
}

.delete_text{
	color: #b20c0c; /*red*/
	font-size: 10pt;
	font-weight: bold;
	/*border-radius: 2pt;*/
}