/* Google Font */
*{font-family: 'Mukta Vaani', sans-serif;
margin-bottom: 100px;
}

/* Style of resume headers */
h3 {
    color:#cc860e; /*orange*/
    font-size: 20pt;
}

/* Style of Name in nav-bar*/
#resume_name {
    color:#cc860e; /*orange*/
    font-size: 20pt;
}
